@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
}
@plugin "daisyui/theme" {
  name: "dark";
}
@plugin "daisyui/theme" {
  name: "light";
}

html,
body,
#root {
  min-height: 100%;
}

body {
  min-width: 20rem;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:focus-visible {
  outline: 2px solid var(--color-primary, var(--fallback-p));
  outline-offset: 2px;
}

:root {
  --app-pad: 1.25rem; /* Fallback */
  --app-border-width: 1px; /* Fallback */
  --app-border-color: var(--fallback-bc, oklch(var(--bc) / 0.15));
}

.layout-pad {
  padding: var(--app-pad);
}

.app-border {
  border: var(--app-border-width) solid var(--app-border-color);
}

.card {
  border: var(--app-border-width) solid var(--app-border-color);
}
